<h1>Listing code_names</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Info reference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @code_names.each do |code_name| %>
      <tr>
        <td><%= code_name.name %></td>
        <td><%= code_name.info_reference %></td>
        <td><%= link_to 'Show', code_name %></td>
        <td><%= link_to 'Edit', edit_code_name_path(code_name) %></td>
        <td><%= link_to 'Destroy', code_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Code name', new_code_name_path %>
