<%= nested_form_for(@robot) do |f| %>
    <% if @robot.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

          <ul>
            <% @robot.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    Select a code name...

    <div class="field">
      <%= f.label :code_name_id %><br>
      <%= f.number_field :code_name_id %>
    </div>

    Or create a new one:

    <%= render "application/shared/code_name_form", f: f %>

    <%= render "application/shared/health_form", f: f %>

    <%= f.fields_for :robot_weapons do |robot_weapon_form| %>
        <%= render "application/shared/robot_weapon_form", f: robot_weapon_form %>
    <% end %>
    <p><%= f.link_to_add "Add a Weapon", :robot_weapons %></p>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
