<!DOCTYPE html>
<html>
<head>
  <title>CodeBasedTestingPart2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Robot-Weaponizer</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%= is_current(root_path) %>"><%= link_to "Home", root_path %></li>
            <li class="<%= is_current(robots_path) %>"><%= link_to "Robots", robots_path %></li>
            <li class="<%= is_current(weapons_path) %>"><%= link_to "Weapons", weapons_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	
	<div class="container main-container">
		<%= yield %>
	</div>
	

</body>
</html>
